*{padding: 0; margin: 0;}

body{background-color: rgb(255, 255, 255);}

#contenedor{background-color: rgb(255, 255, 255);
            width: 1200px;
            height: 1640px;
            margin: 0% auto;}

#logo,#menu{width: 300px;
           height: 200px;
           float: left;
           margin: 5px;} 

#menu{margin-left: 25px;
      width: 750px;
      margin-bottom: 20px;}

#logo{margin-left: 35px;}

#titulo{background-color: #F6366D;
        width: 1200px;
        height: 150px;
        clear: both;}

#redes{margin-left: 500px;
margin-top: 60px;}

#face,#wasa,#inst,#yutu{width: 60px;
                        height: 60px;
                        float: left;
                        margin-left: 10px;}         

#flooter{background-color: #686868;
         width: 1200px;
         height: 80px;
         clear: both;
         margin-top: 170px;}

h1{color: white;
    text-align: center;
    font-size: 90px;
    font-family: 'Nunito', sans-serif;}

#menu ul{list-style: none;}

#menu,#item{float: left;
            margin-top: 25px;}

#menu,#item a{color: black;
              padding: 1px 40px;
              display: block;
              font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              font-size: 18px;
              text-decoration: none;}

#menu #desple{display: none;
             position: absolute;
             min-width: 220px;}

#menu #item a:hover{background-color:#FFC5DD;}

#menu #item:hover #desple{display: block;}

 h4{text-align: center;
   color: white;
padding-top: 30px;}

#nosotros {width: 1200px;
           height: 2079px;
           background-image:url("/Users/hp/Desktop/home/img/fondo.webp"); 
           background-repeat: no repeat;
           background-position: center;
           background-size: contain;
           clear: both;
           margin-top: 10px;}

#rayita {width: 1px;
         height:1px;
         background-color: white;
         padding-left: 500px;}

#objetivo {width: 550px;
           height: 250px;
           padding-left:340px;
           padding-top: 275px;}

#mision {width: 670px;
         height: 210px;
         float: right;
         padding-right: 70px;}

#vision {width: 670px;
         height: 340px;
         float: left;
         clear: both;
         padding-left: 70px;}

#principios {width: 760px;
             height: 550px;
             float: left;
             clear: both;
             padding-left: 70px;}

#objetivo h1 {color: #1aa8c5;
              text-align: left;
              font-size: 70px;
              font-family: 'Nunito', sans-serif;}

#mision h1 {color: #f6366d;
            text-align: right;
            font-size: 70px;
            font-family: 'Nunito', sans-serif;}

#vision h1 {color: #8ac820;
              text-align: left;
              font-size: 70px;
              font-family: 'Nunito', sans-serif;}

#principios h1 {color: #1aa8c5;
               text-align: left;
               font-size: 60px;
               font-family: 'Nunito', sans-serif;}

#principios h2 {color: #686868;
               text-align: left;
               font-size: 30px;
               font-family: 'Nunito', sans-serif;}

#principios p {text-align: left;
    font-family: Century;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;}

#objetivo p {text-align: left;
    font-family: Century;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;}

#vision p {text-align: left;
    font-family: Century;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;}

#mision,  p {text-align: right;
    font-family: Century;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;}

